asgiref==3.6.0
distlib==0.3.6
Django==4.2
django-classy-tags==4.0.0
django-cms==3.11.1
django-crispy-forms==2.0
django-formtools==2.4
django-sekizai==4.0.0
django-treebeard==4.6.1
djangocms-admin-style==3.2.3
filelock==3.11.0
platformdirs==3.2.0
sqlparse==0.4.3
tzdata==2023.3
virtualenv==20.21.0
