{% load static %} 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Josefin+Sans:ital,wght@0,100;1,100&family=Merriweather:wght@300&family=Mukta:wght@300&family=Nunito+Sans:wght@300&family=Patrick+Hand&family=Silkscreen&display=swap"
      rel="stylesheet"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'style3.css'%}" />

    <title>POLICY SCHOLAR</title>
  </head>

{% block content %}

<h3 class='head' > Recommended Articles</h3>
<br><br>
{% for Posts in posts %} 
    <article class="content-section123" > 
      <div class="media-body123"> 
        <div class="img-cont123"> 
          {% if Posts.image %} 
          <img src="{{Posts.image.url}}" /> 
          {% endif%} 
        </div> 
        <h2> 
          <a href="{% url 'post-detail' Posts.pk %}" class="index-title111" 
            >{{Posts.title|safe|truncatewords:7|cut:"\n"}}</a> 
            <a href="{% url 'post-detail' Posts.pk %}" class="index-content" 
            >{{Posts.content|safe|truncatewords:10|cut:"\n"}}</a> 
 
            <a href="{% url 'post-detail' Posts.pk %}" class="index-content-date">{{Posts.datepublished}}</a> 
        </h2> 
         
      </div> 
      <hr> 
      
</article> 
    <br> 
   
    
    {% endfor %}
    {% endblock content %}
    
